@page "/contact"

<PageTitle>Kontakt</PageTitle>

<div class="container mt-4">
    <h1>Kontakt</h1>
    <div class="card mt-4 shadow-sm border-0">
        <div class="card-body">
            <h5 class="card-title fw-bold">Entwickler</h5>
            <p class="card-text mt-3">
                <strong>E-Mail:</strong> <a href="mailto:ptolstoi@gmail.com" class="text-decoration-none">ptolstoi@gmail.com</a><br />
                <strong>GitHub:</strong> <a href="https://github.com/ptolstoi-dev" target="_blank" class="text-decoration-none">github.com/ptolstoi-dev</a>
            </p>
        </div>
    </div>
</div>
