@inherits LayoutComponentBase

<div class="flex h-screen bg-gray-50">
    <NavMenu />

    <main class="flex-1 flex flex-col overflow-hidden">
        <div class="flex-1 overflow-y-auto">
            <div class="p-6 md:p-12 lg:p-16 max-w-full">
                @Body
            </div>
        </div>
    </main>
</div>